<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <body>
    <div style="text-align: center">
      {{ page.content }}
    </div>
  </body>
</html>
